<template name="appNotFound">
  <div class="page not-found">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-message">
        <div class="title-message">The Device is not available or the URL that you are looking not exists! </div>
        <img src="/img/GrowSpace_Banned.jpg" class="loading-app img-responsive img-rounded"> 
      </div>
    </div>
  </div>
</template>